<!DOCTYPE html>
<html lang="en">

<!--EL SEGUNDO PARAMETRO ES UN OBJETO, CON UNA PROPIEDAD POR CADA VARIABLE (QEU VOY A USAR DENTRO DEL EJS)-->
<%- include('./partials/head', {titulo:'Detail', stylesFile:'stylehome.css'}) %>

<body>

    <!-- Header -->
    <%- include('./partials/header') %>

    <div class="main-producto">

        <!-- MINIATURA QUE PUEDE INTERESARTE -->

        <section class="miniatura">
            <article>
                <img src="../img/<%= product.imagen %>" alt="<%= product.nombre %>">
                <img src="../img/<%= product.imagen %>" alt="<%= product.nombre %>">
                <img src="../img/<%= product.imagen %>" alt="<%= product.nombre %>">
                
            </article>
            <div class="miniatura-inf"></div>
        </section>


        <!-- ARTICULO DETALLE -->

        <section class="detalle">
            <img src="../img/<%= product.imagen %>"  alt="<%= product.nombre %>">
            <a class='lapiz'  href="/products/edit/<%= product.id %>"><i class="fas fa-pencil-alt"></i></a>

                <form action="/products/<%= product.id%>/?_method=DELETE" method="POST" style="display: inline-flex">
                    <button type="submit" class='tacho' class="action-button delete"><i class="fas fa-trash-alt"></i></button>
                </form>
            

        </section>

        <!-- COMPRAR DETALLE -->

        <section class="comprar">
            <div>
                <p class="articulo-titulo"><%= product.nombre %></p>
                <p class="articulo-precio"><%= product.precio %></p>
                <p class="articulo-cuotas"><%= product.cuotas %></p>
            </div>
            <div class="lineaFooter"></div>
            <p>Seleccionar color:</p>
            <div class="lineaFooter"></div>

            <div class="articulo-colores">
                <div class="circulo-violeta"><i class="fas fa-circle"></i></div>
                <div class="circulo-amarillo"><i class="fas fa-circle"></i></div>
                <div class="circulo-negro"><i class="fas fa-circle"></i></div>
            </div>
            <button class="comprarBoton" type="comprar">Comprar <i class="fas fa-shopping-bag"></i></button>

            <div class="comprar-detalle">
                
                <h3>Detalles del producto</h3>
                <p><%= product.descripcion %></p>

                <h3>Medida</h3>
                <p><%= product.medidas %></p>

                <h3>Cuidados</h3>
                <p><%= product.cuidados %></p>
            
            </div>
            <div class="comprar-compartir">
                <i class="fas fa-share-alt"></i>
                <p>Compartir</p>
            </div>
        
        </section>
    </div>

   
    <%- include('./partials/footer') %>

</body>

</html>