<!DOCTYPE html>
<html>
    <!--EL SEGUNDO PARAMETRO ES UN OBJETO, CON UNA PROPIEDAD POR CADA VARIABLE (QEU VOY A USAR DENTRO DEL EJS)-->
    <%- include('./partials/head', {titulo:'Edicion de producto', stylesFile:'styleproduct.css'}) %>
    <body>
    <!-- Header -->
    <%- include('./partials/header') %>
        
        <main class="login-container">
            <div class="login-content">
                <div class="login-panel">
                    <h2 class="h3">Edita el producto seleccionado</h2>
                    <form action="/products/<%= productToEdit.id%>?_method=PUT" method="POST" enctype="multipart/form-data">

                        <!-- Nombre del producto ( name ) -->
                        <div class="login-form-group">
                            <label for="nombre">Nombre del producto</label><br>
                            <input name="nombre" autofocus="true" class="form-control" type="text" name="user" placeholder="Nombre del producto" value="<%= productToEdit.nombre%>">
                        </div>

                        <!-- Descripci칩n ( description ) -->
                        <div class="login-form-group">
                            <label for="descripcion">Descripci칩n</label><br>
                            <textarea autofocus="true" class="form-descripcion" name="descripcion" rows='10'> <%= productToEdit.descripcion%> </textarea>
                        </div>

                        <!-- Imagen ( image ) -->
                        <div class="register-label">
                            <label for="imagen">Seleccionar Im치gen</label><br>
                            <input autofocus="true" class="imagen" type="file" name="imagenProducto" id = 'file' accept = '.jpg' multiple>
                        </div>
                        
                        <!-- Categorias -->
                        <section class="filtro">
                            <div class="filtro-mat-cat-color">
                                <select class="filtro-categoria" name="categoria">

                                    <option value="<%= productToEdit.categoria%>"><%= productToEdit.categoria%></option>
                                    <option value="in-sale">Oficina</option>
                                    <option value="visited">Fiesta</option>
                 
                                </select>
                            </div>
                        </section>

                        <!-- Colores (o cualquier otro campo similar como: tama침os, talles, etc) -->
                        <div>
                            <label for="email">Colores</label><br>
                        </div>
                        <div class="color-form-group">
                            <div class="color-box">
                                <% for(var i = 0; i < colours.length; i++) {%>
                                    <label><input name="color" type="checkbox" id="colores" value="<%= colours[i].code %>" <% if(productToEdit.color.includes(colours[i].code)){ %> <%= "checked" %> <% } %> > <%= colours[i].name %> </label><br>
                                <% } %>
                            </div>
                        </div>
                        <!-- Precio ( price ) -->
                        <div class="register-label">
                            <label for="precio">Precio</label><br>
                            <input name="precio" autofocus="true" class="form-control" type="text"  placeholder="Ej. $2500" value="<%= productToEdit.precio%>">
                        </div>

                        <div class="register-label">
                            <label for="descuento">Descuento</label>
                            <input class="register-style" type="text" id="descuento" name="descuento" required placeholder="Ej. 20%" value="<%= productToEdit.descuento%>">
                        </div>

                        <div class="register-label">
                            <label for="cuotas">Cuotas</label>
                            <input class="register-style" type="text" id="cuotas" name="cuotas" required placeholder="Ej. 5 cuotas de $1000" value="<%= productToEdit.cuotas%>">
                        </div>

                        <div class="register-label">
                            <label for="medidas">Medidas</label>
                            <input class="register-style" type="text" id="medidas" name="medidas" required placeholder="Ej. alto 25 , ancho 45" value="<%= productToEdit.medidas%>">
                        </div>
                        <div class="register-label">
                            <label for="cuidados">Cuidados</label>
                            <input class="register-style" type="text" id="cuidados" name="cuidados" required placeholder="Ej. no mojar" value="<%= productToEdit.cuidados%>">
                        </div>
                    
                        <button class="btn btn-primary btn-lg" type="submit" value="guerdarCambios">Guardar Cambios </button>
                        <br>
                    </form>

                </div>
            </div>
        </main>
        
        <%- include('./partials/footer') %>
        
    </body>
</html>