<!DOCTYPE html>
<html>
    <!--EL SEGUNDO PARAMETRO ES UN OBJETO, CON UNA PROPIEDAD POR CADA VARIABLE (QEU VOY A USAR DENTRO DEL EJS)-->
    <%- include('./partials/head', {titulo:'Edicion de producto', stylesFile:'styleproduct.css'}) %>
    <body>
    <!-- Header -->
    <%- include('./partials/header') %>
        
        <main class="login-container">
            <div class="login-content">
                <div class="login-panel">
                    <h2 class="h3">Edita el producto seleccionado</h2>
                    <form action="/products/<%= productToEdit.id%>?_method=PUT" method="POST">

                        <!-- Nombre del producto ( name ) -->
                        <div class="login-form-group">
                            <label for="email">Nombre del producto</label><br>
                            <input autofocus="true" class="form-control" type="text" name="user" placeholder="Nombre del producto" value="<%= productToEdit.nombre%>">
                        </div>

                        <!-- Descripción ( description ) -->
                        <div class="login-form-group">
                            <label for="email">Descripción</label><br>
                            <textarea autofocus="true" class="form-descripcion" name="descripcion" rows='10'> <%= productToEdit.descripcion%> </textarea>
                        </div>

                        <!-- Imagen ( image ) -->
                        <div class="login-form-group">
                            <label for="email">Seleccionar Imagenes</label><br>
                            <input autofocus="true" class="form-load-imagen" type="file" name="user" accept = '.jpg' multiple>
                        </div>
                        
                        <!-- Categorias -->
                        <section class="filtro">
                            <div class="filtro-mat-cat-color">
                                <select class="filtro-categoria" name="Categoria">

                                    <option value=""><%= productToEdit.categoria%></option>
                                    <option value="in-sale">oficina</option>
                                    <option value="visited">Fiesta</option>
                 
                                </select>
                            </div>
                        </section>

                        <!-- Colores (o cualquier otro campo similar como: tamaños, talles, etc) -->
                        <div>
                            <label for="email">Colores</label><br>
                        </div>
                            <div class="color-form-group">
                                <div class="color-box">
                                    <% for(var i = 0; i < colours.length; i++) {%>
                                        <label><input name="color" type="checkbox" id="colores" value="<%= colours[i].code %>" <% if(productToEdit.color.includes(colours[i].code)){ %> <%= "checked" %> <% } %> > <%= colours[i].name %> </label><br>
                                    <% } %>
                            </div>
                        </div>
                        <!-- Precio ( price ) -->
                        <div class="login-form-group">
                            <label for="email">Precio</label><br>
                            <input autofocus="true" class="form-control" type="text" name="pass" placeholder="$" value="<%= productToEdit.precio%>">
                        </div>                 
                    
                        <button class="btn btn-primary btn-lg" type="submit" value="guerdarCambios">Guardar Cambios </button>
                        <br>
                    </form>
                </div>
            </div>
        </main>
        
        <%- include('./partials/footer') %>
        
    </body>
</html>